# GCP Configuration
GOOGLE_CLOUD_PROJECT=hockeystack-pe

# Model
MODEL=gemini-2.5-flash

# Big Query
BQ_LOCATION=US
MAX_BYTES_BILLED=5000000000

# Agent 
MAX_TURNS=8
MAX_PROMPTS_PER_DAY=50 # Yeah please do not nuke my GCP bill. 
MAX_PROMPT_CHARS=4000
MAX_CONVERSATION_CHARS=16000
MAX_CONVERSATION_MESSAGES=20
FIRESTORE_EMULATOR_HOST=

# Server
PORT=8080
LOG_LEVEL=info
